body{
    padding:0em;
    text-align:center;
}
/* pretty sure the chart stlye here does nothing */
#chart{
    width: 400px;
    height: 200px;
}
line {
    stroke: LightSteelBlue;
    stroke-width: 1;
}
text {
    font-family: Georgia;
    font-size: 9pt;
}
rect {
    fill-opacity:0.8;
    fill: crimson;
}
path {
    stroke: crimson;
    stroke-width: 1;
    fill: none;
}